.NavBarDiv {
    background-color: mediumslateblue;
    width: 100%;
    padding: 0;
    margin: 0;
}

.NavBarDiv ul {
    list-style: none;
    padding-inline-start: 0;
}

.NavBarDiv li {
    padding: 5px;
    margin: 0 auto;
}

.NavBarDiv li:hover {
    background-color: gray;
}